body{
    background-color: #edf6f9;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
header{
    /* width: 100vw; */
    height: 100px;
}
header a{
    display: block;
}

header nav{
    height: 100%;
    width: 100%;
    background-color: #d90429;
    

    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

header nav div, header nav a{
    /* background-color: #2b2d42; */
    width: 25vw;

}

header nav div:hover{
    background-color: #2b2d42;
    /* width: 30%; */

}
header nav a {
    height: 100%;
    /* display: inline-block; */
    /* background-color: aquamarine; */
}
header nav a :hover{
    height: 100%;
    display: inline-block;
    background-color: aquamarine;
}
header nav div a{
    text-decoration: none;
    color: white;
}

/* header nav:hover{
    background-color: aqua;
    /* width: 100%; */

#h1, main h2{
    text-align: center;
}


main section{
    display: flex;
    justify-content: space-evenly;
    /* align-items: baseline; */
    align-content: space-between;
    flex-flow: row;
    background-color: #2b2d42;
    color: #edf6f9;
}

main section:hover{
    background-color: #8d99ae;
}

main section div{
    /* flex-grow: 2; */
    /* background-color: aqua; */
    width: 50%;
    
}


main section h4{
    font-size: 3rem;
}

footer img{
    width: 50px;
}

footer ul{
    float: right;
    /* display: inline-block; */
    list-style: none;
}

footer ul li{
    display: inline;
    margin-left: 20px;
    font-size: 15px;
    position: relative;
    float: right 
}