@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Noto+Sans+JP:wght@100&family=Open+Sans:wght@300;400;700&family=Quicksand&display=swap');

body{

    font-family: 'Montserrat', sans-serif;
}

body h1{
    text-align: center;
    font-size: 30px;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section div{
    width: 40vw;
    min-width: 100px;
    font-size: 50px;
}

section div img{
    max-width: 500px;
}
main{
    border: 2px solid rgb(105, 103, 93);
    margin-top: 35vh;
    margin-bottom: 33vh;
    width: 50%;
    margin-left: 23%;
    min-height: 30vh;
    align-items: center;
    /* min-width: 55vw; */
    /* width: 100vw; */

    box-shadow: 0 0 1em rgb(83, 82, 77);
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

form label{
    text-align: center;
    font-size: 240%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    width: 70%;
    text-align: center;
}
button{
width:100px;
    background-color: rgb(228, 29, 162);
    border: none;
    color: white;
    padding: 10px;

    border-radius: 5px;

    font-size: 15px;

}

@media{

}