@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Open+Sans:wght@300;400;700&family=Quicksand&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-color: rgba(123, 218, 165, 0.26);
}


body>h1{
    color: rgba(14, 163, 9, 0.842);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: aliceblue;
    padding: 15px;
    margin: 0px;

    margin-bottom: 55px;
}



main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;

    
}

main section{
    width: 20vw;
    min-width: 200px;

    text-align: center;

}

main section div{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid rgba(160, 241, 160, 0.651);

    margin: 0px;
    padding: 10px;

    display: flex;

    background-color: rgba(192, 233, 197, 0.137);
}

main section h1{
    margin: 0;
    margin-left: 25px;
}

.informa{
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


    display: flex;
    flex-wrap: wrap;
}

td{
    width: 50px;
}

button{
    width:100px;
        background-color: rgb(228, 29, 162);
        border: none;
        color: white;
        padding: 10px;

        margin-top: -17px;
    
        border-radius: 5px;
    
        font-size: 15px;
    
    }


.pagamento{
    min-height: 100vh; 
    text-align: center;
    margin: 50px;
}



a{
    text-decoration: none;
    font-size: 20px;
}

#essa{
    display: flex;
    flex-wrap: wrap;


}